h2 {
color:white;
margin-top:2%;
font-size:35px;
font-family: 'Special Elite', cursive;
}
.boded{
background-image:url('https://images.unsplash.com/photo-1511467687858-23d96c32e4ae?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
padding-top:2%;
background-repeat:no-repeat;
background-position:center;
background-size:cover;
}
.overlay{
margin:0;
padding:0;
background-color:rgba(49, 83, 15,0.3);
}
.imagea{
margin-top:34%;
font-size:45px;
font-weight:bolder;
}
a{
text-decoration:none;
}
.image{
font-family: 'Special Elite', cursive;
margin-bottom:18%;

}
body{
 scroll-behavior: smooth;
background-image:url('https://images.unsplash.com/photo-1542242476-5a3565835a38?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80');
background-attachment:fixed;
background-repeat:no-repeat;
background-position:center;
background-size:cover;
}

.modalcard{
background-color:rgba(10,10,10,0.8);
color:white;
padding:3%;
border:none;
}
h3{
color:white;
font-family: 'Special Elite', cursive;
}
#locations{
color:white;
font-family: 'Special Elite', cursive;
}
hr{
background:white;
height:2px;
}
#imageheader{
font-family: 'Yeseva One', cursive;
}

.imgdesc{
font-family: 'Vollkorn', serif;
}
 
#found{
margin-bottom:3%;
}
#btn{
margin-right:6px;
}
.cat{
float:center;
background:gray;
padding:4px;
border-radius:6px;
}